[Unit]
Description=Bungee Server on port {{ port }}
After=network.target

[Service]
User={{ username }}
Group={{ username }}
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ installation_directory }}
ExecStart={{ installation_directory }}start.sh
SyslogIdentifier=bungee-{{ port }}

[Install]
WantedBy=network.target
