[Unit]
Description=Bungee Server on port {{ port }}
After=network.target

[Service]
User={{ username }}
Group={{ username }}
WorkingDirectory={{ installation_directory }}
ExecStart={{ installation_directory }}start.sh
SyslogIdentifier=bungee-{{ port }}
TTYPath=/dev/tty5
StandardInput=tty

[Install]
WantedBy=network.target
