[Unit]
Description=Spigot Server on port {{ port }}
After=network.target

[Service]
User={{ username }}
Group={{ username }}
WorkingDirectory={{ installation_directory }}
ExecStart={{ installation_directory }}start.sh
Restart=always
SyslogIdentifier=spigot-{{ port }}

[Install]
WantedBy=network.target
